.catagory-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.catagory-logo-icon {
  width: 76px;
  height: 76px;
}
.catagory-header-icon {
  width: 52px;
  height: 52px;
  filter: invert(74%) sepia(47%) saturate(2533%) hue-rotate(333deg)
    brightness(92%) contrast(90%);
  //generator https://codepen.io/sosuke/pen/Pjoqqp
}

.catagory-header-title {
  font-family: "TaipeiSansTCBeta", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 1.56rem;
}

.catagory-header-content {
  font-family: "TaipeiSansTCBeta", sans-serif;
  font-weight: normal;
  color: $gray-500;
  font-size: 0.875rem;
  text-align: center;
}
.catagory-body {
  border-top: 1px solid $gray-500;
  border-bottom: 1px solid $gray-500;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.catagory-body-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
